# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environments
# Uncomment .env for now since it's being used in development
# .env
.venv/
venv/
.env.local

# Django stuff
/staticfiles/
media/

# VSCode & DevContainer
.vscode/
.devcontainer/.devcontainer.log

# Docker
**/__pycache__/
**/.pytest_cache/
**/*.log
db-data/
pgadmin-data/

# Other
*.DS_Store
.coverage
